<div class="ui fluid raised card chatbox">
  <div class="content auto-of" id="messages">
    <div class="ui large feed" id="messages-container">
      <% @date_messages_mapping.each do |date, messages| %>
        <div align="center"><small><%= date %></small></div>
        <% if messages.any? %>
          <% messages.each do |message| %>
            <%= render 'messages/message', message: message%>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="extra content">
    <%= form_for(@message, html: { class: 'ui reply form', role: 'form' }, url: messages_path, remote: true) do |f|%>
      <div class="field">
        <div class="ui black fluid icon input">
          <%= f.hidden_field :chatroom_id, value: @chatroom.id%>
          <%= f.text_field :body, { placeholder: 'Enter a message', id: 'new-message-box' }%>
          <%= f.button class: 'no-bg', id: 'new-message-submit' do %>
            <i class="bordered inverted icon edit"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>