<div class="card">
  <div class="blurring dimmable image h-auto p-15-px">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <%= link_to 'Accept', user_friend_request_accept_path(user, friend_request), class: 'm-bottom-10px ui inverted green button' %>
          <%= link_to 'Decline', user_friend_request_path(user, friend_request), method: :delete, class: 'ui inverted red button' %>
        </div>
      </div>
    </div>
    <%= image_tag "user.png"%>
  </div>
  <div class="content">
    <div class="header"><%= user.username %></div>
    <div class="meta">
      <span class="date">User since: <%= user.created_at.strftime('%d/%m/%Y')%></span>
    </div>
  </div>
  <div class="extra content">
    <div>
      <i class="users icon"></i>
      <%= pluralize(user.friends.count, 'Friend') %>
    </div>
  </div>
</div>