<div class="card">
  <div class="blurring dimmable image h-auto p-15-px">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <%= form_for :friend_request, url: user_friend_requests_path do |f| %>
            <%= f.hidden_field :user_id, value: user.id %>
            <%= f.button 'Add Friend', { class: 'ui inverted button' } %>
          <% end %>
        </div>
      </div>
    </div>
    <%= image_tag "user.png"%>
  </div>
  <div class="content">
    <a class="header"><%= user.username %></a>
    <div class="meta">
      <span class="date">User since: <%= user.created_at.strftime('%d/%m/%Y')%></span>
    </div>
  </div>
  <div class="extra content">
    <div>
      <i class="users icon"></i>
      <%= user.friends.count %> Friends
    </div>
  </div>
</div>